@media(min-width: 0px) {
    .register-carousel-container {
        width: 95%;
    }
    .card {
        height: 65%;
    }

    .stepper-container {
        width: 100%;
    }
}

@media(min-width: 768px) {
    .register-carousel-container {
        width: 95%;
    }

    .card {
        height: 80%;
    }
    .stepper-container {
        width: 90%;
    }
}

.registerCarouselCard {

}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentDiv {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.optionsDiv {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.previousStep {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.nextStep {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.nextStep:focus {
    text-decoration: underline ;
}
.stepOneDiv {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: auto;
}

.stepTwoDiv {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.questionDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.columnOptions {
    height: 100%;
    width: 7.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questionDetailDiv {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.stepper-container{
    display: flex;
    flex-direction: row;
}

.stepper {
    width: 100%;
}

.register-carousel-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step-label-icon {
    font-size: 20px;
}
