@media (min-width: 0px) {
    .text-input-with-icon-root-container {
        display: none;
    }
}

@media (min-width: 768px) {
    .text-input-with-icon-root-container {
        display: flex;
    }
}

.text-input-with-icon-root-container {
    flex-direction: row;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 2px;
    padding: 5px 5px;
    transition: width 500ms linear;
}

.text-input-with-icon-icon-container {
    color: rgba(255, 255, 255, 0.5);
    padding: 0 5px;
}

.text-input-with-icon-input-container {
    width: 100%;
}

.text-input-with-icon-input {
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    color: white;
}
.text-input-with-icon-root-container:hover {
    width: 90%;
}
