@media(min-width: 0) {
    .userName {
        display: none;
    }

    .userAvatar {

    }

    .userInfoPaperContainer {

    }

    .userInfoGridItem {

    }

    .register-research-div {

    }

    .link {

    }

    .registerNewResearchText {

    }

    .toolbar-avatar-container {
        display: none !important;
    }

    .toolbar-link {
        width: 95%;
    }

    .toolbar-link-to-home {
        display: none;
    }

    .toolbar-menu-icon {
        display: block;
    }
}

@media(min-width: 600px) {
    .userName {
        display: block;
    }

    .userAvatar {

    }

    .userInfoPaperContainer {

    }

    .userInfoGridItem {

    }

    .register-research-div {

    }

    .link {

    }

    .toolbar-avatar-container {
        display: flex !important;
    }


}

@media (min-width: 728px) {
    .avatar-button-container {
        display: flex;
    }

    .toolbar-link {
        width: 30%;
    }

    .toolbar-link-to-home {
        display: flex;
    }

    .toolbar-menu-icon {
        display: none;
    }
}


.desktop-username-options {

}

.app-toolbar-root-container {
}

.app-toolbar-options-container {
}

.avatar-button-container {
    opacity: 1;
    cursor: pointer;
    transition: opacity 300ms;
}

.register-research-button-container {
}

.avatar-button-container:hover {
    opacity: 0.75;
    transition: opacity 300ms;
}

.popOver {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    padding: 5px 0;
}

.signOut {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    width: 200px;
}

.signOut:hover {
    text-decoration: underline;
}

.register-research-div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
}

.desktop-register-new-question {
    height: 100%;
}
.registerNewResearchText {
    height: 100%;
    width: 100%;
    background-color: #039be5;
    cursor: pointer;
    border-radius: 2px;
}

.register-new-research-span {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
}

.toolbar-avatar-container {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toolbar-avatar-container:hover {
    opacity: 0.7
}

.registerNewResearchText:hover {
    transform: translate(0px, -2.5px);
}

.toolbar-link {
    height: 100%;
}

.toolbar {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-image: linear-gradient(to right, #FFC200, #FF8001);
}

.toolbar-link-to-home {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}

.toolbar-menu-icon {

}
