.scroll-bar-options {

}

@media(min-width: 0px) {
    .backgroundImage {
        height: 100vh;
        width: 100%;
        background-image: url("../../resources/login_background_375.jpg");
        display: flex;
        flex-direction: column;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: auto;
    }

    .auth_methods_container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .auth_methods {
        height: 120px;
        display: flex;
        margin-left: -100%;
        flex-direction: column;
        justify-content: space-around;
    }

    .answer_anything_text_1_container {
        max-width: 375px;
        animation-name: slidein375;
        animation-duration: 2s;
        animation-delay: 0s;
        margin-left: 5%;
        margin-top: 5%;
    }

    .answer_anything_text_2_container {
        max-width: 330px;
        animation-name: opacity375;
        animation-delay: .5s;
        animation-duration: 2s;
        margin-left: 5%;
        opacity: 0;
        animation-fill-mode: forwards;
    }

    .features_description_container {
        max-height: 200px;
        max-width: 650px;
        margin-left: 5%;
        display: flex;
        flex-direction: row;
        font-family: 'Farro', sans-serif;
        flex-wrap: wrap;
    }
}

@media (min-width: 768px) {
    .backgroundImage {
        height: 100vh;
        background-image: url("../../resources/login_background_768.jpg");
    }

    .auth_methods_container {
        height: 150px;
    }

    .answer_anything_text_1_container {
        max-width: 500px;
        animation-name: slidein768;
        animation-duration: 2s;
        animation-delay: 0s;
        margin-left: 5%;
        margin-top: 5%;
    }

    .answer_anything_text_2_container {
        max-width: 290px;
        animation-name: opacity768;
        animation-delay: .5s;
        animation-duration: 2s;
        margin-left: 5%;
        opacity: 0;
        animation-fill-mode: forwards;
    }

    .features_description_container {
        max-height: 200px;
        max-width: 400px;
        margin-left: 5%;
        display: flex;
        flex-direction: row;
        font-family: 'Farro', sans-serif;
        flex-wrap: wrap;
    }
}

@media(min-width:  1024px) {
    .backgroundImage {
        height: 100vh;
        background-image: url("../../resources/login_background_1024.jpg");

    }

    .auth_methods_container {
        margin-top: 2%;
        height: 150px;
    }

    .answer_anything_text_2_container {
        max-width: 600px;
        animation-name: opacity1024;
        animation-delay: 1.25s;
        animation-duration: 2s;
        margin-left: 5%;
        opacity: 0;
        animation-fill-mode: forwards;
    }

    .features_description_container {
        max-height: 200px;
        max-width: 800px;
        margin-left: 5%;
        display: flex;
        flex-direction: row;
        font-family: 'Farro', sans-serif;
        flex-wrap: wrap;
    }
}

@media(min-width:  1344px) {
    .backgroundImage {
        background-image: url("../../resources/login_background_1920.jpg");
    }
}


.answer_anything_text_container {
    display: flex;
    flex-direction: column;
}

.answer_anything_text_1 {
    color: white;
    font-family: 'Farro', sans-serif;
    font-size: 58px;
}

.answer_anything_text_2 {
    color: white;
    font-family: 'Farro', sans-serif;
    font-size: 54px;
    text-shadow: 1px 1px 2px black;
}

.feature_container {
    padding: 1px 1px;
    width: 300px;
    height: 100px;
}

.normal_text {
    color: white;
    text-shadow: 1px 1px 2px black;
}

.bold_text {
    font-weight: 700;
    color: #E6DDAC;
    text-shadow: 1px 1px 2px black;
}

.feature_anim_1 {
    animation-name: feature_opacity;
    animation-delay: 1.6s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.feature_anim_2 {
    animation-name: feature_opacity;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.auth_methods_anim {
    animation-name: auth-slidein;
    animation-duration: 3s;
    animation-delay: .7s;
    animation-fill-mode: forwards;
}

@keyframes feature_opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slidein375 {
    from {
        margin-left: 50%;
    }

    to {
        margin-left: 5%;
    }
}

@keyframes slidein768 {
    from {
        margin-left: 40%;
        opacity: 0;
    }

    to {
        opacity: 1;
        margin-left: 5%;
    }
}

@keyframes auth-slidein {
    from {
        margin-left: -100%;
    }

    to {
        margin-left: 5%;
    }
}

@keyframes opacity375 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes opacity768 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes opacity1024 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



