.questionRootContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 10%;
}

.questionsContainer {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.answerQuestionGoBackContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 10%;
}

.answerQuestionContentContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.answerQuestionGoNextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 10%;
}


.answerQuestionTitleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.answerQuestionOptionsContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}


.answerQuestionOption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 20px 20px;
    cursor: pointer;
    background-color: #3F51B5;
}

.answerQuestionOption:hover {
    background-color: #ECEFF1;
}
.scrollBar {
    height: 100%;
    width: 100%;
}
