@media(min-width: 0px) {
    .registerScreenDiv {
        width: 100%;
    }
}

@media(min-width: 768px) {
    .registerScreenDiv {
        width: 90%;
    }
}

@media(min-width: 768px) {
    .registerScreenDiv {
        width: 100%;
    }
}

.registerScreenDiv {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.contentDiv {
    width: 100%;
}
