@media(min-width: 0px) {
    .mainContainerDashboardScreen {

    }
}

.mainContainerDashboardScreen {
    height: 91.8vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.loadingIndicatorDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





