
.analysisRoot {
    width: 100%;
    height: 100%;
}

.chartContainer {
    height: 100%;
    width: 100%
}

.chart {
    height: 400px;
    width: 400px;
}

.loadingContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noDataAvailableContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noDataAvailableText {
    font-size: 48px;
    color: #888888;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
