.research-card-root-container {
    margin: 10px 15px;
}

.research-card-no-available-data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
