@media(min-width: 0px) {
    .text-input-with-icon-xs-sm-container {
        display: flex;
    }
}

@media(min-width: 768px){
    .text-input-with-icon-xs-sm-container {
        display: none;
    }
}


.text-input-with-icon-xs-sm-container {
    width: 100%;
}



.text-input-with-icon-root-container-xs-sm {
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius:3px;
    transition: width 500ms;
    animation: text-input-with-icon-root-container-xs-sm-slide-in 500ms linear;
}


.text-input-with-icon-container-xs-sm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 6px;
}

.text-input-with-icon-input-base-xs-sm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.text-input-with-icon-input-input-xs-sm {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
}

.text-input-with-icon-icon-container-xs-sm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    padding: 0 5px;
    color: white;
}

@keyframes text-input-with-icon-root-container-xs-sm-slide-in {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes text-input-with-icon-root-container-xs-sm-slide-out {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}
